/* index.html */
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Scroll */
body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(157, 144, 120);
}

/* Main blog and CV block */
main {
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

main .border {
    background-color: rgb(157, 144, 120);
    position: fixed;
    -webkit-transition: background-color 0.5s ease 0.4s;
    -moz-transition: background-color 0.5s ease 0.4s;
    -ms-transition: background-color 0.5s ease 0.4s;
    -o-transition: background-color 0.5s ease 0.4s;
    transition: background-color 0.5s ease 0.4s;
}

main .border.active {
    background-color: white;
    z-index: 2;
    -webkit-transition: background-color 0.5s ease 0.4s;
    -moz-transition: background-color 0.5s ease 0.4s;
    -ms-transition: background-color 0.5s ease 0.4s;
    -o-transition: background-color 0.5s ease 0.4s;
    transition: background-color 0.5s ease 0.4s;
}

main .border.top {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 5px;
}

main .border.bottom {
    bottom: 5px;
    right: 5px;
    left: 5px;
    height: 5px;
}

main .border.left {
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 5px;
}

main .border.right {
    right: 5px;
    top: 5px;
    bottom: 5px;
    width: 5px;
}

main button.switch {
    width: 50px;
    height: 50px;
    background-color: rgb(157, 144, 120);
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.36);
    border: 0;
    outline: 0;
    z-index: 1;
    -webkit-transition: background-color .2s ease-out 0.4s;
    transition: background-color .2s ease 0.4s;
}

main button.switch:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main button.switch.active {
    background-color: white;
    -webkit-transition: background-color .2s ease-out 0.4s;
    transition: background-color .2s ease 0.4s;
}

main button.switch.active > span {
    background-color: rgb(157, 144, 120);
    -webkit-transition: background-color .2s ease-out 0.4s;
    transition: background-color .2s ease 0.4s;
}

main button.switch.ripple {
    visibility: hidden;
    width: 90vh;
    height: 95vh;
    top: -20%;
    right: -10%;
}

main button.switch.ripple.active {
  background-color: rgb(157, 144, 120);
  -webkit-animation: ripple 2s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
          animation: ripple 2s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                visibility: visible;
    }
    80% {
        -webkit-transform: scale(2);
                transform: scale(2);
    }
    100% {
        -webkit-transform: scale(3);
                transform: scale(3);
                opacity: 0;
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
                visibility: visible;
    }
    80% {
        -webkit-transform: scale(4);
                transform: scale(4);
    }
    100% {
        -webkit-transform: scale(6);
                transform: scale(6);
                opacity: 0;
    }
}

main button.switch.bubble {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.36);
    -webkit-transform: scale(1);
    opacity: 1;
}

main button.switch.bubble.active {
    -webkit-transform: scale(1.5);
    -webkit-transition: all 0.3s ease-out;
    opacity: 0;
}

button span.line {
    height: 2px;
    width: 22px;
    background-color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    z-index: 30;
    -webkit-transition: background-color .2s ease-out 0.4s;
    transition: background-color .2s ease 0.4s;
}

button span.top.line {
    transform: translate3d(-11px, -6px, 0);
}

button span.middle.line {
    transform: translate3d(-11px, 0, 0);
}

button span.bottom.line {
    transform: translate3d(-11px, 6px, 0);
}

.content {
    will-change: transform, opacity;
    background: rgb(157, 144, 120);
    color: white;
    display: table-cell;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.content.card {
    will-change: transform, opacity;
    background: white;
    color: rgb(157, 144, 120);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.content.card.active {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.content p {
    padding: 50px;
    font-size: 4vw;
}

.content.active {
    opacity: 1;
    -webkit-transition: all 0.5s ease 0.8s;
    -moz-transition: all 0.5s ease 0.8s;
    -ms-transition: all 0.5s ease 0.8s;
    -o-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
}
